{% macro render_blog_post(post, from_index=false) %}
<div class="blog-post">
  <h3>{% if from_index %}<a href="{{ post|url }}">{% endif %}<small>[{{ post.pub_date }}]</small>
      {{ post.title }}{% if from_index %}</a>{% endif %}</h2>
    {{ post.body }}

    <div class="callout">
      <div class="row">
        <div class="columns shrink icons" style="width=2rem;"><a
            href="http://twitter.com/intent/tweet?url={{post|url(external=true)}}" class="tw"><i class="fa fa-twitter"
              aria-hidden="true"></i></a></div>
        <div class="columns shrink icons" style="width=2rem;"><a
            href="http://facebook.com/sharer.php?u={{post|url(external=true)}}" class="fb"><i
              class="fa fa-facebook"></i></a></div>
        <div class="columns"></div>
        {% for tag in post.tags -%}
        <div class="columns shrink"><span class="secondary label"><a
              href="{{ ('/@tag/' ~ tag.lower())|url }}">{{ tag }}</a></span></div>
        {% endfor %}

      </div>
      <!-- </div> -->
    </div>

</div>
{% endmacro %}
