{% macro render_pagination(pagination) %}
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {% if pagination.has_prev %}
      <li class="pagination-previous"><a href="{{ pagination.prev|url }}">Previous</a></li>
    {% else %}
      <li class="pagination-previous disabled">Previous</li>
    {% endif %}
    {% for page_num in range(1, pagination.pages + 1) %}
    {% if page_num == pagination.page %}
    <li class="current"><span class="show-for-sr">You're on page</span> {{ pagination.page }}</li>
    {% else %}
    <li><a href="{{ pagination.for_page(page_num)|url }}" aria-label="Next page">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      <li class="pagination-next"><a href="{{ pagination.next|url }}" aria-label="Next page">Next</a></li>
    {% else %}
      <li class="pagination-next disabled">Next</li>
    {% endif %}
  </ul>
{% endmacro %}
