{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div id="tagcloud" class="tagcloud row">
  {% for tag, weight in tagweights()|dictsort %}
  <div class="secondary label tag">
    <a href="{{ ('/@tag/' ~ tag.lower())|url }}" data-count="{{this.children.filter(F.tags.contains(tag)).count()}}"
      style="font-size: {{ weight.log(12, 20)}}px; line-height: 23px; {% if weight.log(12, 20) > 16 %} font-weight: bold; {% endif %} ">
      {{ tag }}
    </a>
  </div>
  {% endfor %}
  {% for _ in range(15) %}
  <div class="label hidden tag"></div>
  {% endfor %}

</div>
{% for child in this.pagination.items %}
{{ render_blog_post(child, from_index=true) }}
{% endfor %}

{{ render_pagination(this.pagination) }}
{% endblock %}

{% block script %}
{% endblock %}
