<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Welcome{% endblock %} </title>
  <link rel="stylesheet" href="{{ '/static/foundation.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/font-awesome.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
</head>

<body>

  <div id="container">
    <div id="header" class="callout large primary">
      <div class="row column text-center">
        <h1><a href="/">blog.gladis.org</a></h1>
        <h2 class="subheader">about linux, python and stuff ...</h2>
      </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div id="body" class="row medium-8 large-7 columns">
      {% block body %}{% endblock %}
    </div>
    <footer id="footer">
      &copy; Copyright 2016 by Olaf Gladis.
    </footer>
  </div>
  {% block script %}{% endblock %}
</body>

</html>
