{% extends "layout.html" %}
{% block title %}Posts about - {{ this.tag }}{% endblock %}
{% block body %}

<h1>Posts about - {{ this.tag }}</h1>
<ul>
  {% for i in this.items %}
  <li><a href="{{ i|url }}"><small>[{{ i.pub_date }}]</small> {{ i.title }}</a></li>
  {% else %}
  <li><em>No items.</em></li>
  {% endfor %}
</ul>
{% endblock %}
