pre {
  background-color: #e6e6e6;
  padding: .125rem .3125rem .0625rem;
  margin-top: .125rem;
  margin-bottom: .25rem;
  border-radius: 5px;
}

pre code {
  border: none;
  padding: 0;
}

.show-for-sr {
  display: none;
}

.tagcloud {
  justify-content: space-between;
}

.tagcloud .tag {
  margin: 0.125rem;
}

.tagcloud .hidden.tag {
  width: 0;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  height: 0;
}

/* icons */
.icons i {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  width: 25px;
  /*square*/
}

.icons a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

/*colors*/
.tw {
  background: #00ACF0;
}

.fb {
  background: #3B5997;
}

.gp {
  background: #DB4F48;
}

.ig {
  background: #447397;
}

.li {
  background: #007DB8;
}

.yt {
  background: #D12E2E;
}

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {}

#body {
  padding-bottom: 1.5rem;
  /* Height of the footer */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  /* Height of the footer */
}
